body{
  background-color: #FEFECC;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  border-color: grey;
  width: 10%;
}
/*
img{
  background-color: blue;
}
*/
h1: {
  color: #006400;
  font-size: 100px;
}


h3{
  color: #6B8E23;
}

.name{
  font-size: 50px;
  color: #006400;
}

.name:hover{
  font-size: 50px;
  color: black;
  background-color: orange;
}

/*------------- Using class selector-----------------
.tel{
  background-color: yellow;
}
.tel2{
  background-color: white;
}
*/


/*            Using the id selector         */
/**  #name{
       color: black;
}*/
